<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="/styles/htmlcourse.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="row mx-3">
            <div class="col-md-6 col-lg-6 " data-aos="zoom-in-up">
                <iframe width="100%" height="315" src="https://www.youtube-nocookie.com/embed/uhWvXeCEbHw"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            </div>
            <div class="col-md-6 col-lg-6 " data-aos="zoom-in-up">
                <iframe width="100%" height="315" src="https://www.youtube-nocookie.com/embed/s_qQ209TzG4"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            </div>
            <div class="col-md-6 col-lg-6 " data-aos="zoom-in-up">
                <iframe width="100%" height="315" src="https://www.youtube-nocookie.com/embed/t_TkpnGD6wo"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            </div>
            <div class="col-md-6 col-lg-6 " data-aos="zoom-in-up">
                <iframe width="100%" height="315" src="https://www.youtube-nocookie.com/embed/AmnQjSsapU0"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            </div>
            <div class="col-md-6 col-lg-6 " data-aos="zoom-in-up">
                <iframe width="100%" height="315" src="https://www.youtube-nocookie.com/embed/Ew75p6CcWUE"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            </div>
            <div class="col-md-6 col-lg-6 " data-aos="zoom-in-up">
                <iframe width="100%" height="315" src="https://www.youtube-nocookie.com/embed/OY_uCchg7WM"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            </div>
            <div class="col-md-6 col-lg-6 " data-aos="zoom-in-up">
                <iframe width="100%" height="315" src="https://www.youtube-nocookie.com/embed/sU_IDDUBiPk"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            </div>
            <div class="col-md-6 col-lg-6 " data-aos="zoom-in-up">
                <iframe width="100%" height="315" src="https://www.youtube-nocookie.com/embed/_v-UZBp4T3E"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <script src="https://kit.fontawesome.com/74dae4b90e.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>

</body>

</html>